<h1>Escalas Musicais</h1>

<label>
	Tom:
	<select (change)="tryToCreate($event.target.value,'key')">
	    <option [value]="null" hidden>Selecione o tom</option>
		<option *ngFor="let note of MUSICALNOTES" [value]="note">
			{{note}}
		</option>
	</select>
</label>
<label>
	Tipo:
	<select (change)="tryToCreate($event.target.value,'type')">
	    <option [value]="null" hidden>Selecione o tipo</option>
		<option *ngFor="let type of SCALETYPES" [value]="type">
			{{type}}
		</option>
	</select>
</label>

<h2>Escala de{{scale.key}} {{scale.type}}</h2>

<table>
	<tr>
		<td *ngFor="let fret of FRETS">{{fret}}</td>
	</tr>
	<tr *ngFor="let note of TUNNING">
		<td *ngFor="let n of FRETS" [ngClass]="isNoteOnScale(stringNote(n,note)) ? 'color': 'std'">{{stringNote(n,note)}}</td>
	</tr>
</table>